{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LISTA DE PRODUCTOS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.imgur.com/TZnEcFJ.png">
</head>
<body>
    <!-- CONTENIDO DE LA NAVBAR -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/TZnEcFJ.png" alt="Logo" style="width:120px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">
                        <img src="https://i.imgur.com/xuD3K4k.png" alt="Inicio" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">
                        <img src="https://i.imgur.com/sdcYDQB.png" alt="Nosotros" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">
                        <img src="https://i.imgur.com/3sqABzA.png" alt="Productos" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">
                        <img src="https://i.imgur.com/nZ2FG0h.png" alt="Contacto" style="height: 40px;">
                    </a>
                </li>            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCart" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://i.imgur.com/jY2qD6l.png" alt="Carrito" style="height: 45px;">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCart">
                        <div id="cartItems"></div>
                        <div class="dropdown-divider"></div>
                        <button onclick="clearCart()" class="dropdown-item">Limpiar carrito</button>
                        <a class="dropdown-item" href="{% url 'checkout' %}">Finalizar pago</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- MODIFOCAR / ELIMINAR PRODUCTOS -->
    <h1>Editar Productos</h1><br>
    <br>

    <button type="button">
            <a href="{% url 'productosAdd' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <table>
        {% if productos %}
        <th>Producto</th>
        <th>Eliminar</th>
        <th>Modificar</th>
            {% for x in productos %}
                <tr>
                    <td>{{x.nombre}}</td>
                    <td><a href="{% url 'productos_del' pk=x.id_producto %}">Eliminar</a></td>
                    <td><a href="{% url 'productos_edit' pk=x.id_producto %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <!-- FOOTER -->
    <footer class="footer mt-auto py-3 border-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <strong>© 2024 UrbanRoots</strong>
                    <p>Todos los derechos reservados.</p>
                    <p>Dirección: Calle Falsa 123, Ciudad, País</p>
                    <p>Teléfono: (+123) 456-7890</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Correo Electrónico:</strong> info@nombreempresa.com</p>
                    <p><strong>Horarios de Atención:</strong> Lunes a Viernes: 9:00 AM - 6:00 PM | Sábados: 10:00 AM - 4:00 PM</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Políticas:</strong> <a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
                    <p><strong>Nuestra misión:</strong> Traer la naturaleza a tu hogar con las mejores plantas y el servicio más dedicado. ¡Gracias por elegirnos para embellecer tus espacios!</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>