{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.imgur.com/TZnEcFJ.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/TZnEcFJ.png" alt="Logo" style="width:120px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">
                        <img src="https://i.imgur.com/xuD3K4k.png" alt="Inicio" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">
                        <img src="https://i.imgur.com/sdcYDQB.png" alt="Nosotros" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">
                        <img src="https://i.imgur.com/3sqABzA.png" alt="Productos" style="height: 45px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">
                        <img src="https://i.imgur.com/nZ2FG0h.png" alt="Contacto" style="height: 40px;">
                    </a>
                </li>            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCart" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://i.imgur.com/jY2qD6l.png" alt="Carrito" style="height: 45px;">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCart">
                        <div id="cartItems"></div>
                        <div class="dropdown-divider"></div>
                        <button onclick="clearCart()" class="dropdown-item">Limpiar carrito</button>
                        <a class="dropdown-item" href="{% url 'checkout' %}">Finalizar pago</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    
    <div class="card-container">
        {% for producto in productos %}
            <div class="card">
                <img src="{{ producto.imagen.url }}" alt="Foto de {{ producto.nombre }}">
                <p>{{ producto.nombre }}</p>
                <p>{{ producto.precio }}</p>
                <button class="add-to-cart-button" data-price="{{producto.precio}}" onclick="addToCart ('{{ producto.nombre }}','{{producto.precio}}')"></button>
            </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
      <script src="{% static 'js/logic.js' %}"></script>
      <script>
        displayCart();
    </script>
</body>
</html>